# MISSION TO MARS

# Step 0 - Setting up

In [1]:
# Import dependencies

import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
import time

In [2]:
# Set up browser control

executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

# Step 1 - Scraping

## Scrape NASA Mars News

In [3]:
# Visit URL and create html object

nasa_url = 'https://mars.nasa.gov/news'
browser.visit(nasa_url)
time.sleep(1)
nasa_html = browser.html

# Create BeautifulSoup object; parse with 'lxml'

nasa_soup = BeautifulSoup(nasa_html, 'lxml')

In [4]:
# Examine NASA Mars News web page using Chrome developer tools. Determine element that contains
# latest news bit's title and paragraph text

nasa_results = nasa_soup.find_all('li', class_='slide')
news_title = nasa_results[0].find('div', class_='content_title').text
news_p = nasa_results[0].find('div', class_='article_teaser_body').text
print(news_title)
print(news_p)

Mars InSight Lander's 'Mole' Pauses Digging
After the mission's heat probe began hammering last week, it appears to have hit a rock. The team is analyzing data before they hammer again.

## Scrape JPL Mars Space Images - Featured Image

In [5]:
# Visit URL and create html object

jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)
browser.is_element_present_by_id("full_image", 1)
jpl_html = browser.html

# Create BeautifulSoup object; parse with 'lxml'

jpl_soup = BeautifulSoup(jpl_html, 'lxml')

In [6]:
# Examine JPL web page using Chrome developer tools. Determine element that contains featured image info

img_src = jpl_soup.find(id='full_image')['data-fancybox-href']
img_name = img_src.split('/')[-1].split('_')[0]
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/' + img_name + '_hires.jpg'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17200_hires.jpg

## Scrape Mars Weather

In [7]:
# Visit URL and create html object

tweet_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(tweet_url)
tweet_html = browser.html

# Create BeautifulSoup object; parse with 'lxml'

tweet_soup = BeautifulSoup(tweet_html, 'lxml')

In [8]:
# Examine the twitter page using Chrome developer tools. Determine element that contains latest weather info
tweets_MarsWxReport = tweet_soup.find_all('div', attrs={'data-screen-name': 'MarsWxReport'})

for tweet in tweets_MarsWxReport:
    try:
        # Keep first weather report
        report = tweet.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
        # Remove pic text if present
        if (report.find('a')):
            txt = report.text
            pic = report.find('a').text
            mars_weather = txt.split(pic)[0]
        else:
            continue
        break
    except AttributeError:
        pass

print(mars_weather)

InSight sol 99 (2019-03-07) low -95.8ºC (-140.4ºF) high -13.3ºC (8.1ºF)
winds from the SW at 4.2 m/s (9.5 mph) gusting to 12.0 m/s (26.8 mph)
pressure at 7.20 hPa

## Scrape Mars Facts

In [9]:
# Scrape all tabular data from Mars facts page

facts_url = 'https://space-facts.com/mars/'
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
# There's only one table in the Mars facts page. Give names to columns
df = tables[0]
df.columns = ['description', 'value']
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
# Set index to the description column

df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [12]:
# Convert dataframe to a HTML table string

html_table = df.to_html()

# Strip unwanted newlines

html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th>description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [13]:
# Save to html and verify

#df.to_html('facts_table.html')
#!open facts_table.html

## Scrape Mars Hemispheres

In [14]:
# Visit URL and set up xpath selector for going to hemisphere pages

url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
xpath = "//div[@class='item']//a[@class='itemLink product-item']/img"

In [15]:
# Loop through each of the four hemispheres thumbnails and click to grab info in their
# respective pages

hemisphere_image_urls = []

for i in range(4):
    browser.visit(url)
    images = browser.find_by_xpath(xpath)
    images[i].click()
    # Create html object
    html = browser.html
    # Create BeautifulSoup object; parse with 'lxml'
    soup = BeautifulSoup(html, 'lxml')
    img_src = soup.find('img', class_='wide-image')['src']
    img_url = 'https://astrogeology.usgs.gov' + img_src
    title = soup.find('h2', class_='title').text
    # Append to list
    hemisphere_image_urls.append({'title': title, 'img_url': img_url})

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [16]:
# Close browser
browser.quit()

# Step 2 - MongoDB and Flask Application

See following files:
    - scrape_mars.py
    - app.py
    - templates/index.html